/* AdminPanel.css */
.admin-panel {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px; /* Adjust as necessary */
    background-color: #333; /* Dark background for the sidebar */
    color: #fff;
    padding: 20px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa; /* Light background for content */
}
